*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root colori */
:root{
    --colore-primario: #0383FD;  
    --colore-secondario: #9792E5;  
    --colore-terziario: #B6DDFF;
    --colore-footer: #333333;   
    --colore-testo-demo:#5A6E7F;    
}
/* Fine root colori */

/* Root utility */
:root{
    
}
/* Fine root utility */

body{
    font-family: 'PT Sans', sans-serif;
}

header{
    background-color: var(--colore-primario);
    height: 75px;
    display: flex;
    align-items: center;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.debug{
    border: 1px solid black;
}

header,
.container,
row,
.col{
    border: 1px solid black;
    min-height: 50px;
}

.d-flex{
    display: flex;
}

.d-none{
    display: none;
  }

.justify-center{
    justify-content: center;
  }
  
  .justify-between{
    justify-content: space-between;
  }
  
  .flex-nowrap{
    flex-wrap: nowrap;
  }

  .text-center{
    text-align: center;
  }
  
  .text-right{
    text-align: right;
  }

.col{
    width: 100%;
    padding: 15px;
}

.row{
    display: flex;
    flex-wrap: wrap;
  }

/* section topbar */
.topbar{
    /* height: 75px;  */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.topbar .topbar-dx ul{
    display: flex; 
    color: white;
    list-style: none;
    display: none;  
}

.topbar-dx{
    display: flex;   
}

.topbar-sx{
    display: flex;
    align-items: center;
}

.tasto-menu{
    color: white;
}
/* section demo */

.demo img{
    max-width: 100%;
}

.demo .col{
    background-color: var(--colore-terziario);
    border-radius: 15px;
    margin-top: 30px;
}

.text-demo{
    padding: 30px 50px;

}

.img-demo{

}

.demo h2{
    color: var(--colore-primario);
}

.demo p{
    color: var(--colore-testo-demo);
    padding: 20px 0;
    line-height: 1.5;
}

.app-store{
    color: white;
    background-color: var(--colore-primario);
    border-radius: 15px;
    padding: 10px 15px;
    font-weight: bold;
    margin-top: 20px;
}

/* section strategy */
.strategy{
    background-color: var(--colore-secondario);
}

/* section testimonials */
.testimonials{

}

/* section benefits */
.benefits{
    background-color: var(--colore-secondario);
    text-align: center;
}

.benefits h2{
    color: white;
}

/* section about us */
.about-us{

}

/* footer */
footer{
    /* height: 850px; */
}

/* section top-footer */
.top-footer{
    /* height: 625px; */
    background-color: var(--colore-secondario);
}

/* section bottom-footer */
.bottom-footer{
    /* height: 225px; */
    background-color: var(--colore-footer);
}

/* Soluzione responsive */

/* versione tablet */

@media screen and (min-width: 768px) {
    
    .container{
        width: 720px;
    }

    .demo .col{
        width: calc(100% / 3);
    }

   .demo .col:first-child{
    width: calc(100% * 2/3);
   }

   .demo .col:first-child .text-demo{
    width: 100%;

   }

   .demo .col:first-child .img-demo{
   max-width: 100%;
   }

   .demo img{
    width: 100%;
   }

   /* .img-demo img{
    object-fit: cover;
   } */

   .testimonials .card .row{
    flex-wrap: nowrap;
  }

  .testimonials .card .col:first-child{
    width: 20%;
  }

  .testimonials .card .col:last-child{
    width: 80%;
  }

  .benefits .col{
    width: 50%;
  }

  .aboutus .col:first-child{
    width: 60%;
  }

  .aboutus .col:last-child{
    width: 40%;
  }

    
}

/* versione desktop */
@media screen and (min-width: 1200px) {
    /* .topbar .topbar-dx ul{    
        display: block;  
    } */

    .container{
        width: 1140px;
    }

    .demo .col:first-child{
        display: flex;
       }

    .strategic .col{
        width: 50%;
    }

    .benefits .col{
        width: calc(100% / 3);
    }
    
    .aboutus .col:first-child{
        width: 70%;
    }

    .aboutus .col:last-child{
        width: 30%;
    }

    .topbar .topbar-dx ul{ 
        display: block;  
        display: flex; 
    }

    .topbar  .topbar-dx ul li{
        text-decoration: none;
        padding-right: 10px;
    }

    .topbar .topbar-dx a{
        color: white;
        text-decoration: none;
    }

   


}
